@import "tailwindcss";

:root {
  --foreground: #4a5568;
  --panel-bg: white;
  --primary: rgb(234, 129, 0);
}

.neu-flat {
  background: var(--panel-bg);
  box-shadow: var(--shadow);
  border-radius: 1rem;
}

.neu-pressed {
  background: var(--panel-bg);
  box-shadow: var(--shadow-inset);
  border-radius: 1rem;
}

.new-btn {
  background: var(--panel-bg);
  box-shadow: var(--shadow);
  border-radius: 0.75rem;
  transition: all 0.2s ease;
}

.neu-btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}

.neu-btn:active {
  transform: translateY(2px);
  box-shadow: var(--shadow-inset);
}

